@import "../main.scss";

.products {
  grid-area: 1 / 1 / 4 / 2;
  padding: 1em;
  height: 850px;
  overflow-y: scroll;
  overflow-x: hidden;

  .searchbar {
    margin: 1em 0;
    padding: 0.4em;
    font-size: 1.2em;
    background-color: $white;
  }

  button {
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: 2em;
    padding: 0 0.6em;
    font-size: 1.6em;

    &:hover {
      cursor: pointer;
      background-color: $lightblue;
    }
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px $blue;
    border-radius: 2em;
  }
}
